.menuShow{
	margin-left: 0px;
	 -webkit-transition: all 1.5s;  -moz-transition: all 1.5s;  -o-transition: all 1.5s;  transition: all 1.5s;
}
.menuHide{
	margin-left: -45px;
	 -webkit-transition: all 1.5s;  -moz-transition: all 1.5s;  -o-transition: all 1.5s;  transition: all 1.5s;
}
.footerShow{
	display:block !important;
}
.footerHide{
	display:none !important;
}
.masterPageWidth{
	width:45px;
	background-color: grey;
	
}
.header_clr{
	background-color: #ADD8E6 !important;
}
.txt_clr{
	color: blue !important;
	font-weight: bold !important;
}
.toolbar_clr{
	background-color: #483D8B;
}

/* new icon style nd list for detail view */
 .sapMLIB.sapMObjLItem{
	padding: 0px !important;
	height: 38px !important;
    margin: 0px !important;
}
.sapMObjLIconDiv span{
	font-size: 20px !important;
    width: 6.5rem  !important;
} 
.sapMObjLNumberDiv {
	 float: left !important;
	margin-right: -10px !important;
	 padding: 9px;
}
.sapUiBody {
	    font-size: 16px;
}

/* end */


/* new button width  */

.sapMLabel {
	width: 200px;
}
.sapMInputBaseInner{
	height: 1.5rem;
    width: 169px;
}
.sapMComboBoxBaseArrow{
/* 	right: -5.5rem; */
    top: -12px; */}

}
/* end */

.bar_icon .sapMBtnIcon{
	color: #ffffff;
}
.bar_text_clr .sapMBtnContent{
	color: #ffffff;
}
.bar_icon:hover .sapMBtnHoverable  {
    background-image: none !important;
    background-color: #007cc0 !important;
}

.btn_bottom{
    bottom: 0;
    position: absolute;
    left: 0;
}
.txt_clr_black{
	color: #000000 !important;
}
.txt_clr_brown{
	color: #808080 !important;
}


